<section class="ba-ask">
  <h2 class="ba-ask-title ">
      Frequently asked questions
  </h2>
    <div class="row column">
            <ul class="vertical menu accordion-menu ba-ask-main-menu" data-accordion-menu>
                    <li>
                      <a href="#">What is Cannabidiol (CBD)?</a>
                      <ul class="menu vertical nested ba-ask-second-menu">
                        <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                        <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                      </ul>
                    </li>
                    <li>
                        <a href="#">Is Hemp-Derived Cannabidiol (CBD) Legal? </a>
                        <ul class="menu vertical nested ba-ask-second-menu">
                          <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                          <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                        </ul>
                      </li>
                      <li>
                          <a href="#">Are there any negative side effects? </a>
                          <ul class="menu vertical nested ba-ask-second-menu">
                            <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                            <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                          </ul>
                        </li>
                        <li>
                            <a href="#">Do you offer a return policy? </a>
                            <ul class="menu vertical nested ba-ask-second-menu">
                              <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                              <li><a href="#">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</a></li>
                            </ul>
                          </li>
                  </ul>
    </div>

</section>