<footer class="ba-footer">
    <div class="row column">
        
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->
            <!-- <div class="column shrink">
                <div class="ba-socials">
                    <a title="Facebook" href="https://facebook.com" target="_blank" rel="noopener">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a title="Twitter" href="https://twitter.com" target="_blank" rel="noopener">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a title="Google" href="https://google.com" target="_blank" rel="noopener">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a title="Instagram" href="https://instagram.com" target="_blank" rel="noopener">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div> -->
                <!-- /.ba-socials -->
            <!-- </div> -->
            <!-- /.column -->
            <!-- /.column -->