<section class="ba-intro">
    <div class="ba-container">

        <div class="row">
            <div class="column medium-7 small-10 small-offset-5 small-offset-2">
                <h1 class="ba-intro-title ">
                        Enhancing Life 
                        Excelling in Care
                </h1>
                <span class="ba-intro-subtitle column ">Choose Wisely. Choose CBD.</span>
                <a class="ba-shop-button" href="#"> Start shopping</a>
                <div class="ba-sup-button">
                    <a  href="#">See all products</a>
                    <svg width="20" height="100">
                                    <use xlink:href="#icon-arrow" />
                    </svg>
                </div>
                <!-- /.ba-sup-button -->
            </div>
            <!-- /.ba-intro-title -->
        </div>
        <!-- /.ba-container -->
        <span class="ba-bottom">CBD Potion health</span>
    </div>
    <!-- /.ba-container -->

</section>