<section class="ba-product">
    <div class="ba-container">
        <h2 class="ba-main-title">
            CBD Featured Products
        </h2>
        <div class="ba-product-slider">
        <article>
                <div class="ba-product-card">
                        <div class="ba-product-card-up">
        
                            <div class="ba-product-card-starts">
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                            </div>
                            <!-- /.ba-product-card-starts -->
                            <div class="ba-product-card-desc">
                                <p>CBD 500 MG ORANGE FLAVOR TINCTURE</p>
                            </div>
                            <div class="ba-product-card-photo">
                                <img src="{{root}}/assets/img/bottle.png" alt="Black ICE CBD">
                            </div>
        
                        </div>
                        <!-- /.ba-product-card-up -->
                        <div class="ba-product-card-down">
                            <div class="ba-product-card-price">
                                $49.99 USD
                            </div>
                            <!-- /.ba-product-card-price -->
                            <div class="ba-product-card-buy">
                                <a href="#">Shop</a>
                            </div>
                            <!-- /.ba-product-card-buy -->
                        </div>
                        <!-- /.ba-product-card-down -->
        
                    </div>
        </article>
        <article>
                <div class="ba-product-card">
                        <div class="ba-product-card-up">
        
                            <div class="ba-product-card-starts">
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                            </div>
                            <!-- /.ba-product-card-starts -->
                            <div class="ba-product-card-desc">
                                <p>Black ICE CBD Muscle Rub 200 mg</p>
                            </div>
                            <div class="ba-product-card-photo">
                                <img src="{{root}}/assets/img/box.png" alt="Black ICE CBD">
                            </div>
        
                        </div>
                        <!-- /.ba-product-card-up -->
                        <div class="ba-product-card-down">
                            <div class="ba-product-card-price">
                                $49.99 USD
                            </div>
                            <!-- /.ba-product-card-price -->
                            <div class="ba-product-card-buy">
                                <a href="#">Shop</a>
                            </div>
                            <!-- /.ba-product-card-buy -->
                        </div>
                        <!-- /.ba-product-card-down -->
        
                    </div>
        </article>
        <article>
                <div class="ba-product-card">
                        <div class="ba-product-card-up">
        
                            <div class="ba-product-card-starts">
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                            </div>
                            <!-- /.ba-product-card-starts -->
                            <div class="ba-product-card-desc">
                                <p>Black ICE CBD Muscle Rub 200 mg</p>
                            </div>
                            <div class="ba-product-card-photo">
                                <img src="{{root}}/assets/img/box2.png" alt="Black ICE CBD">
                            </div>
        
                        </div>
                        <!-- /.ba-product-card-up -->
                        <div class="ba-product-card-down">
                            <div class="ba-product-card-price">
                                $49.99 USD
                            </div>
                            <!-- /.ba-product-card-price -->
                            <div class="ba-product-card-buy">
                                <a href="#">Shop</a>
                            </div>
                            <!-- /.ba-product-card-buy -->
                        </div>
                        <!-- /.ba-product-card-down -->
        
                    </div>
        </article>
        <article>
                <div class="ba-product-card">
                        <div class="ba-product-card-up">
        
                            <div class="ba-product-card-starts">
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                            </div>
                            <!-- /.ba-product-card-starts -->
                            <div class="ba-product-card-desc">
                                <p>CBD 500 MG ORANGE FLAVOR TINCTURE</p>
                            </div>
                            <div class="ba-product-card-photo">
                                <img src="{{root}}/assets/img/bottle.png" alt="Black ICE CBD">
                            </div>
        
                        </div>
                        <!-- /.ba-product-card-up -->
                        <div class="ba-product-card-down">
                            <div class="ba-product-card-price">
                                $49.99 USD
                            </div>
                            <!-- /.ba-product-card-price -->
                            <div class="ba-product-card-buy">
                                <a href="#">Shop</a>
                            </div>
                            <!-- /.ba-product-card-buy -->
                        </div>
                        <!-- /.ba-product-card-down -->
        
                    </div>
        </article>
        <article>
                <div class="ba-product-card">
                        <div class="ba-product-card-up">
        
                            <div class="ba-product-card-starts">
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                            </div>
                            <!-- /.ba-product-card-starts -->
                            <div class="ba-product-card-desc">
                                <p>Black ICE CBD Muscle Rub 200 mg</p>
                            </div>
                            <div class="ba-product-card-photo">
                                <img src="{{root}}/assets/img/box.png" alt="Black ICE CBD">
                            </div>
        
                        </div>
                        <!-- /.ba-product-card-up -->
                        <div class="ba-product-card-down">
                            <div class="ba-product-card-price">
                                $49.99 USD
                            </div>
                            <!-- /.ba-product-card-price -->
                            <div class="ba-product-card-buy">
                                <a href="#">Shop</a>
                            </div>
                            <!-- /.ba-product-card-buy -->
                        </div>
                        <!-- /.ba-product-card-down -->
        
                    </div>
        </article>
        <article>
                <div class="ba-product-card">
                        <div class="ba-product-card-up">
        
                            <div class="ba-product-card-starts">
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg width="16" height="15">
                                        <use xlink:href="#icon-star" />
                                    </svg>
                                </a>
                            </div>
                            <!-- /.ba-product-card-starts -->
                            <div class="ba-product-card-desc">
                                <p>Black ICE CBD Muscle Rub 200 mg</p>
                            </div>
                            <div class="ba-product-card-photo">
                                <img src="{{root}}/assets/img/box2.png" alt="Black ICE CBD">
                            </div>
        
                        </div>
                        <!-- /.ba-product-card-up -->
                        <div class="ba-product-card-down">
                            <div class="ba-product-card-price">
                                $49.99 USD
                            </div>
                            <!-- /.ba-product-card-price -->
                            <div class="ba-product-card-buy">
                                <a href="#">Shop</a>
                            </div>
                            <!-- /.ba-product-card-buy -->
                        </div>
                        <!-- /.ba-product-card-down -->
        
                    </div>
        </article>
    </div>
    <!-- /.ba-product-slider -->
    </div>
    <!-- /.ba-container -->

</section>