<section class="ba-ask">
        <div class="ba-first-slider">
            <article class="ba-first-slider__item" style="background-image: url({{root}}assets/img/people.jpg);">
                <div class="ask-card">
                    <div class="ba-product-card-starts ba-product-card-starts--ask">
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                        </div>
                        <div class="ba-people-desc">
                            <p>
                                    I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!
                            </p>
                        </div>
                        <!-- /.ba-people-desc -->
                        <div class="ba-people-person">
                                <p>Mark J.</p>
                                    
                            </div>

                </div>
                <!-- /.ask-card -->
            </article>
            <article class="ba-first-slider__item" style="background-image: url({{root}}assets/img/people.jpg);">
                <div class="ask-card">
                    <div class="ba-product-card-starts ba-product-card-starts--ask">
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                        </div>
                        <div class="ba-people-desc">
                            <p>
                                    I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!
                            </p>
                        </div>
                        <!-- /.ba-people-desc -->
                        <div class="ba-people-person">
                                <p>Mark J.</p>
                                    
                            </div>

                </div>
                <!-- /.ask-card -->
            </article>
            <article class="ba-first-slider__item" style="background-image: url({{root}}assets/img/people.jpg);">
                <div class="ask-card">
                    <div class="ba-product-card-starts ba-product-card-starts--ask">
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="16" height="15">
                                    <use xlink:href="#icon-star" />
                                </svg>
                            </a>
                        </div>
                        <div class="ba-people-desc">
                            <p>
                                    I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!
                            </p>
                        </div>
                        <!-- /.ba-people-desc -->
                        <div class="ba-people-person">
                                <p>Mark J.</p>
                                    
                            </div>

                </div>
                <!-- /.ask-card -->
            </article>
    
    
        </div>


</section>